<h3>Edit a Question</h3>

<%= form_for @question, url: question_path(@question),
  method: :patch do |f| %>

  <% if @question.errors.any? %>
    <p>There were errors with your submission:</p>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  </div>

  <%= f.submit %>

<% end %>

<%= link_to 'Back to Questions', questions_path %>
