<h2><%= @question.title %></h2>

<p>
  <%= @question.body %>
</p>

<h3>Answers</h3>

<ol>
  <% @question.answers.each do |a| %>
    <li><%= a.title %><br>
    <%= a.body %></li>
    <br>
    <br>
  <% end %>
</ol>

<br><p>
  <%= link_to 'Edit this question', edit_question_path(@question) %>
</p><br>

<p>
  <%= link_to 'Remove this question', question_path(@question), method: :delete, data: { confirm: 'Are you sure you want to delete this question?'} %>
</p>

<h3>Submit an answer</h3>

<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors.any? %>
    <p>There were errors with your submission:</p>
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  </div>

  <%= f.submit %>

<% end %>
